{% extends 'base_with_sidebar_bs3.html' %}
{% block main %}
  <style type="text/css">
    .catalog-logo {
      max-height: 100px;
      max-width: 150px;
    }

  </style>

  <div class="container">
    {% for partner in providers%}
      <div class="col-md-9">
        <div class="panel panel-default">
          <!--<div class="panel-heading">Panel heading without title</div>-->
          <div class="panel-body">
            <div class="row-fluid">
              <!-- Partner name -->
              <div class="col-md-7">
                Partner: {{ partner.source_name }}
              </div>
              <!-- logo -->
              <div class="col-md-2">
                <a class="pull-left catalog-logo" href={{ partner.source_link }}>
                  <img src={{ partner.thumbnail_source }} class="img-responsive">
                </a>
              </div>
            </div>
            <div class="row-fluid">

            </div>
          </div>
        </div>
      </div>
    {% endfor providers%}
  </div>



{% endblock %}


{% block javascript %}

{% endblock %}
