{% extends 'base_with_sidebar_bs3.html' %}
{% block main %}
  <style type="text/css">
    .catalog-logo {
      max-height: 100px;
      max-width: 150px;
    }
    #data-partner .panel-default {
        border-color: #AAAAAA;
    }
  </style>

  <div id="data-partner" class="container-fluid">
    {% for partner in providers%}
      <div class="panel panel-default">
        <!--<div class="panel-heading">Panel heading without title</div>-->
        <div class="panel-body" id="{{ partner.page_anchor }}">
          <div class="row">
            <!-- logo -->
            <div class="col-md-7"></div>
            <div class="pull-right col-md-3">
              <a href={{ partner.source_link }}>
                <img src={{ partner.thumbnail_source }} class="catalog-logo img-responsive">
              </a>
            </div>
          </div>
          <div class="row">
            <!-- Partner name -->
            <div class="col-md-9">
              <b>Organization:</b> {{ partner.source_name }}
            </div>
          </div>
          <div class="row">
            <!-- Partner name -->
            <div class="col-md-9">
              <b>Group:</b> {{ partner.group_name }}
            </div>
          </div>
          <div class="row">
            <!--Contact info-->
            <div class="col-md-9">
              {% for contact in partner.contacts %}
                <b>Contact:</b> <a href="mailto:{{ contact.email_addr }}">{{ contact.name }}</a>
              {% endfor contacts %}
            </div>
          </div>
          <div class="row">
            <!--general info-->
            <div class="col-md-9">
              <p><b>Overview:</b></p>
              <p>
              {{ partner.metadatatable.abstract }}
              </p>
            </div>
          </div>
        </div>
      </div>
    {% endfor providers%}
  </div>



{% endblock %}


{% block javascript %}

{% endblock %}
