{% extends 'base_no_sidebar_bs3.html' %}
{% block main %}
{% load flatblock_tags %}
<link href="{{MEDIA_URL}}/secoora/css/catalog.css" rel="stylesheet">

<div class="row">
  <div id="catalog-search" class="col-sm-4 pull-right">
    <b>The Data Catalog</b>
    gathers available data and recruits new data about ocean resources and human use information such as fishing grounds, recreational areas, shipping lanes, habitat areas, and energy sites. Data falls into one of seven themes listed below. You can explore the data available under each theme, or search for the data using the form below.

    <div class="search-row">
      <div style="margin: 15px 0;">
        <form id="catalog-search-form" action="/explore/search_catalog/" class="form-search layer-search" method="get" accept-charset="utf-8" autocomplete="off">
            <a class="btn btn-link"><i class="icon-search icon-large"></i></a>
            <input type="text" name="catalog_q" style="display: inline-block" class="search-box" placeholder="Search the Catalog"/>
        </form>
      </div>

    </div>
    <!-- POlygon search area map -->
    <div class="row">
      <div id="map" class="smallmap">

      </div>
    </div>
  </div>


  <div class="col-xs-12 col-sm-8 theme catalog-page pull-left">
    {% for cat_rec in records %}
      <div class="accordion" id="parent-{{ cat_rec.html_id }}">
        <div class="accordion-group theme-group">
          <div class="accordion-heading theme-heading">
            <a class="accordion-toggle theme-title color-up" data-toggle="collapse" data-parent="parent-{{ cat_rec.html_id }}" href="#child-{{ cat_rec.html_id }}">
              <h3>
                <div class="theme-search-name">{{ cat_rec.title }}
                </div>
              </h3>
            </a>
          </div>
          <div id="child-{{ cat_rec.html_id }}" class="accordion-body collapse">
            <div class="accordion-inner">
              <dl>
                <dt>Description:</dt>
                <dd>{{ cat_rec.abstract }}</dd>
                <dt>Bounding Box:</dt>
                <dd>{{ cat_rec.wkt_geometry_to_text }}</dd>
                <dt>Resolution:</dt>
                <dd></dd>
              </dl>

            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>


{% endblock %}


{% block javascript %}
  <script src="{{MEDIA_URL}}/openlayers/OpenLayers.js"></script>
  <script src="{{MEDIA_URL}}/secoora/js/catalog_map.js"></script>
  <style>
    .smallmap {
        border: 1px solid #ccc;
        height: 256px;
        width: 256px;
    }
  </style>
  <!--
  <script type="text/javascript">
    var map = catalog_search_map();
    $( document ).ready(function()
    {
      map.initialize("map");
    });
  </script>
  -->
{% endblock %}
