{% extends 'base_no_sidebar_bs3.html' %}
{% block main %}
{% load flatblock_tags %}
<link href="{{MEDIA_URL}}/secoora/css/catalog.css" rel="stylesheet">

<div class="row">
  <div id="catalog-search" class="col-sm-4 pull-right">
    <b>The Data Catalog</b>
    gathers available data and recruits new data about ocean resources and human use information such as fishing grounds, recreational areas, shipping lanes, habitat areas, and energy sites. Data falls into one of seven themes listed below. You can explore the data available under each theme, or search for the data using the form below.

    <div class="search-row">
      <div style="margin: 15px 0;">
        <form id="catalog-search-form" data-bind="submit: keyword_search_click" class="form-search layer-search" accept-charset="utf-8" autocomplete="off">

          <button type="submit">
              <i class="icon-search icon-large"></i>
            </button>
            <!--
            <a class="btn btn-link"><i class="icon-search icon-large"></i></a>
            -->
            <input type="text" data-bind='value: user_keyword, valueUpdate: "afterkeydown"' name="catalog_q" style="display: inline-block" class="search-box" placeholder="Search the Catalog"/>

        </form>
      </div>

    </div>
    <!-- POlygon search area map -->
    <div class="row">
      <div id="map" class="smallmap">

      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-8 theme catalog-page accordion pull-left" id="theme-list" data-bind="visible: !showResults()">
    {% for service_type in services %}
    <div class="accordion-group theme-group">
      <div class="accordion-heading theme-heading">
        <a class="accordion-toggle theme-title color-up" data-toggle="collapse" data-parent="theme-list" href="#{{ service_type.html_id }}">
          <h3>
            <div class="theme-search-name">{{ service_type.display_name }}

              <span class="pull-right badge-info badge">{{ service_type.record_count }}</span>

              <button type="button" class="btn btn-lg btn-danger" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?">
                <i class="icon-question-sign question_mark-color" style="display: inline-block"></i>
              </button>
              <!--
              <span data-toggle="tooltip" data-placement="right" title="Tooltip on right">
                 <small><i class="icon-question-sign question_mark-color" style="display: inline-block"></i></small>
              </span>
              -->
              <small><i class="icon-caret-right caret-icon color-up" style="display: inline-block"></i></small>
              <small><i class="icon-caret-down caret-icon color-up" style="display: none"></i></small>
            </div>
          </h3>
        </a>
      </div>
      <div id="{{ service_type.html_id }}" class="accordion-body collapse">
        <div class="accordion-inner">
          <div class="accordion" id="{{service_type.html_id}}-service-list">
            {% for cat_rec in service_type.records %}
              <div class="accordion" id="parent-{{ cat_rec.html_id }}">
                <div class="accordion-group sublayer-group">
                  <div class="accordion-heading sublayer-heading">
                    <a class="accordion-toggle sublayer-name color-up" data-toggle="collapse" data-parent="{{service_type.html_id}}-service-list" href="#child_{{ service_type.html_id }}_{{ cat_rec.html_id }}">
                    <span class="layer-search-name">{{ cat_rec.title }}</span>
                    </a>
                  </div>
                  <div id="child_{{ service_type.html_id }}_{{ cat_rec.html_id }}" class="accordion-body collapse">
                    <div class="accordion-inner">
                      <dl>
                        <dt>Organization:</dt>
                        <dd>{{ cat_rec.organization }}</dd>
                        <dt>Description:</dt>
                        <dd>{{ cat_rec.abstract }}</dd>
                        <dt>Bounding Box:</dt>
                        <dd>{{ cat_rec.wkt_geometry_to_text }}</dd>
                        <dt>Time Frame:</dt>
                        <dd>{{ cat_rec.time_begin_pretty }} to {{ cat_rec.time_end_pretty }}</dd>
                      </dl>
                      <div class="btn-toolbar">
                        <div class="btn-group">
                          <div class="dropdown">
                            <button id="data_sources_menu" class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                              Data Sources
                              <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                              {% for link in cat_rec.links_data %}
                                <li role="presentation">
                                  <a role="menuitem" class="data-layer-link color-up" target="_blank" href="{{ link.url }}">{{ link.protocol }}</a>
                                </li>
                              {% endfor links_data %}
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="row-fluid" data-bind="visible: showResults()">
    <div class="col-md-8 pull-left">
      <b>Search returned <span data-bind='text: resultsCount'></span> results</b>
      <span data-bind="text: errorMsg"></span>
    </div>
  </div>
  <span data-bind="foreach: results">
    <div class="row-fluid">
      <div class="col-md-8 pull-left">
        <div class="panel panel-default">
          <!--<div class="panel-heading">Panel heading without title</div>-->
          <div class="panel-body">
            <div class="row">
              <dl>
                <dt>Title:</dt>
                <dd data-bind="text: title"></dd>
                <dt>Description:</dt>
                <dd data-bind="text: abstract"></dd>
                <dt>Bounding Box:</dt>
                <dd data-bind="text: bounding_box"></dd>
              </dl>
             </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </span>
</div>


{% endblock %}


{% block javascript %}
  <script src="{{MEDIA_URL}}/openlayers/OpenLayers.js"></script>
  <script src="{{MEDIA_URL}}/knockout/knockout-3.2.0.js"></script>
  <script src="{{MEDIA_URL}}/secoora/js/catalog_map.js"></script>
  <script src="{{MEDIA_URL}}/secoora/js/csw_search_results_model.js"></script>

  <style>
    .smallmap {
        border: 1px solid #ccc;
        height: 256px;
        width: 256px;
    }
  .search-box {
    color: #000000;
  }
  .question_mark-color {
    color: rgb(0,100,200);
  }
  </style>
  <script>
    function csw_search_app()
    {
      var self = this;

      self.viewModel = null;
      self.initialize = function()
      {
        self.viewModel = new csw_search_model();
        ko.applyBindings(self.viewModel);
      };
      return(self);
    }
    app = csw_search_app();
    app.initialize();

    $( document ).ready(function()
    {
      self.viewModel.init_map('map');
      //mapView.initialize(null, "/proxy/rest_query/?url=http://129.252.139.68:8000");
    });
  </script>
{% endblock %}
