{% extends 'base_no_sidebar_bs3.html' %}
{% block main %}
  <link href="{{MEDIA_URL}}/secoora/css/catalog.css" rel="stylesheet">
  <link href="{{MEDIA_URL}}/bootstrap/bootstrap-datepicker/css/datepicker.css" rel="stylesheet">
  <style type="text/css">
    .catalog-logo {
      max-height: 100px;
      max-width: 150px;
    }
    #data-partner .panel-default {
        border-color: #AAAAAA;
    }
    .search_page_map {
      border: 1px solid #ccc;
      height: 500px;
      width: 100%;
    }
    .search-box {
      color: #000000;
    }
    .question_mark-style {
      font-size: 20px;
      color: rgb(255,255,255);
    }

    .btn-help {
        position:absolute;
        background-color: transparent;
        /*right:2px;*/
        top:2px;
    }
    .btn-search_help {
        position:absolute;
        background-color: transparent;
    }
   form.form-search > .popover >.popover-title {
        color: #000000;
        font-size: 15px;
    }
    form.form-search > .popover >.popover-content {
        color: #000000;
        font-size: 14px;
    }

  </style>

  <div class="container">
    <div data-bind="visible: !showResults()">
      <!-- Begin keyword search column -->
      <div class="row">
        <div class="col-xs-12">
          <div class="row">
            <div class="col-xs-12">
              <div class="panel-group"
                   id="keyword_search"
                   role="tablist"
                   aria-multiselectable="true">
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="keyword_search_header">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#keyword_search_body" aria-expanded="true" aria-controls="collapseOne">
                        Keyword Search
                      </a>
                    </h4>
                  </div>
                  <div id="keyword_search_body"
                       class="panel-collapse collapse in"
                       role="tabpanel"
                       aria-labelledby="keyword_search_header">
                    <div class="panel-body">
                      <div class="row">
                        <div class="col-xs-12">
                          <p><h3>Search datasets by typing keyword, or clicking on word cloud below.</h3></p>
                        </div>
                      </div>
                      <div style="margin: 15px 0;">
                        <form id="catalog-search-form"
                              data-bind="submit: keyword_search_click"
                              class="form-search layer-search"
                              accept-charset="utf-8"
                              autocomplete="off">
                          <button type="submit">
                            <i class="icon-search icon-large"></i>
                          </button>
                          <input id="keyword"
                                 type="text"
                                 data-bind='value: user_keyword, valueUpdate: "afterkeydown"'
                                 name="catalog_q"
                                 style="display: inline-block"
                                 class="search-box"
                                 placeholder="Search the Catalog"/>
                        </form>
                      </div>
                      <div class="row">
                        <div id="word_cloud" class="col-xs-12">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End keyword search column -->
      <!-- Begin polygon search column -->
      <div class="row">
        <div class="col-xs-12">
          <div class="panel-group"
               id="map_search"
               role="tablist"
               aria-multiselectable="true">
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="map_search_header">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#map_search_body" aria-expanded="true" aria-controls="collapseOne">
                    Geographic Search
                  </a>
                </h4>
              </div>
              <div id="map_search_body"
                   class="panel-collapse collapse in"
                   role="tabpanel"
                   aria-labelledby="map_search_header">
                <div class="panel-body">
                  <div class="row">
                    <div class="col-xs-12">
                      <p>
                        <h3>For a polygon area search, draw the polygon on the map by clicking the points in your polygon.
                        For the last point, make sure the polygon is closed, then double click.
                        </h3>
                      </p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12">
                      <div id="map" class="search_page_map">

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End polygon search column -->
      <!-- Begin temporal search  -->
      <div class="row">
        <div class="col-xs-12">
          <div class="row">
            <div class="col-xs-12">
              <div class="panel-group"
                   id="temporal_search"
                   role="tablist"
                   aria-multiselectable="true">
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="temporal_search_header">
                    <h4 class="panel-title">
                      <a data-toggle="collapse"
                         data-parent="#temporal_search"
                         href="#temporal_search_body"
                         aria-expanded="true"
                         aria-controls="temporal">
                        Temporal Search
                      </a>
                    </h4>
                  </div>
                  <div id="temporal_search_body"
                       class="panel-collapse collapse in"
                       role="tabpanel"
                       aria-labelledby="temporal_search_header">
                    <div class="panel-body">
                      <div class="row">
                        <div class="col-xs-12">
                          <p><h3>Search datasets by selecting a date range.</h3></p>
                        </div>
                      </div>
                      <div style="margin: 15px 0;">
                        <div id="date_range" class="row">
                          <div class="col-xs-6">
                            <div class="input-daterange input-group" id="datepicker">
                              <span class="input-group-addon">Start Date</span>
                              <input id="start_date" type="text" class="input-sm form-control" name="start" />
                              <span class="input-group-addon">End Date</span>
                              <input id="end_date" type="text" class="input-sm form-control" name="end" />
                            </div>
                          </div>
                          <div class="col-xs-2">
                            <button type="submit" data-bind="click: temporal_search_click">
                              <i class="icon-search icon-large"></i>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End temporal search -->
    </div>
    <!-- Begin search results -->
    <div data-bind="visible: showResults()">
      <div class="row-fluid">
        <div class="col-md-8 pull-left">
          <button type="button" class="btn btn-default" data-bind="click: backToCatalog">
            <i class="icon-chevron-left" style="display: inline-block"></i>
            Back to Catalog
          </button>
        </div>
      </div>
      <div class="row-fluid">
        <div class="col-md-8 pull-left">
          <h3><b>Search returned <span data-bind='text: resultsCount'></span> results</b></h3>
          <span data-bind="text: errorMsg"></span>
        </div>
      </div>
      <span data-bind="foreach: results">
        <div class="row-fluid">
          <div class="col-md-8 pull-left">
            <div class="panel panel-default">
              <!--<div class="panel-heading">Panel heading without title</div>-->
              <div class="panel-body">
                <div class="row">
                  <dl>
                    <dt>Title:</dt>
                    <dd data-bind="text: title"></dd>
                    <dt>Description:</dt>
                    <dd data-bind="text: abstract"></dd>
                    <dt>Bounding Box:</dt>
                    <dd data-bind="text: bounding_box"></dd>
                  </dl>
                </div>
                <div class="row">
                  <div class="btn-toolbar">
                    <div class="btn-group">
                      <div class="dropdown">
                        <button id="data_sources_menu" class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                          Data Sources
                          <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                          <span data-bind="foreach: services">
                            <li role="presentation">
                              <a role="menuitem" class="data-layer-link color-up" target="_blank" data-bind="text: protocol, attr: {href: url}"></a>
                            </li>
                          </span>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </span>
    </div>
    <!-- End search results -->
    <!-- Start error popup -->
    <div id="error_popup" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" data-bind="text: popup_title"></h4>
          </div>
          <div class="modal-body" data-bind="text: popup_title">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!-- End error popup -->

  </div>



{% endblock %}


{% block javascript %}
  <script src="{{MEDIA_URL}}/openlayers/OpenLayers.js"></script>
  <script src="{{MEDIA_URL}}/knockout/knockout-3.2.0.js"></script>
  <script src="{{MEDIA_URL}}/bootstrap/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
  <script src="{{MEDIA_URL}}/tagcloud/jquery.tagcloud.js"></script>
  <script src="{{MEDIA_URL}}/jison/goog_parse.js"></script>
  <script src="{{MEDIA_URL}}/secoora/js/catalog_map.js"></script>
  <script src="{{MEDIA_URL}}/secoora/js/search_page_model.js"></script>

  <script>
    function search_options_app()
    {
      var self = this;
      self.viewModel = null;
      self.initialize = function()
      {
        self.viewModel = new search_page_model();
        ko.applyBindings(self.viewModel);

      };
      $( document ).ready(function()
      {

        self.viewModel.initialize('map',
                                  "/proxy/rest_query/?url=http://pycsw.secoora.org",
                                  'word_cloud',
                                  "{{MEDIA_URL}}/secoora/js/tagcloud.ssi");

      });
      return(self);
    }
    app = search_options_app();
    app.initialize();
  </script>

{% endblock %}
